<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:property-placeholder location="classpath*:spring/props/*.properties"/>
	<context:component-scan base-package="no.officenet.test"/>
	<context:load-time-weaver/>

	<tx:annotation-driven order="5" transaction-manager="transactionManager"/>

	<bean id="myDataSource" class="org.apache.tomcat.dbcp.dbcp.BasicDataSource">
		<property name="driverClassName" value="${infrastructure.datasource.driver}" />
		<property name="url" value="${infrastructure.datasource.url}" />
		<property name="username" value="${infrastructure.datasource.username}" />
		<property name="password" value="${infrastructure.datasource.password}" />
		<property name="minIdle" value="${infrastructure.datasource.minPoolSize}" />
		<property name="maxActive" value="${infrastructure.datasource.maxPoolSize}" />
		<property name="maxWait" value="${infrastructure.datasource.maxIdle}" />
	</bean>

	<bean id="jpaVendorAdapter"
		  class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter">
		<property name="database" value="${infrastructure.database.vendor}"/>
		<property name="showSql" value="${infrastructure.jpa.showSql}"/>
		<property name="generateDdl" value="${infrastructure.jpa.generateDdl}"/>
	</bean>

	<bean id="entityManagerFactory"
		  class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="myDataSource"/>
		<property name="packagesToScan" value="no.officenet.test"/>
		<property name="persistenceUnitPostProcessors" ref="puPosProcessor"/>
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
		<property name="jpaDialect" ref="jpaDialect"/>
		<property name="jpaProperties">
			<props>
				<prop key="eclipselink.cache.shared.default">false</prop>
				<prop key="javax.persistence.sharedCache.mode">ENABLE_SELECTIVE</prop>
			</props>
		</property>
	</bean>

	<bean id="puPosProcessor" class="no.officenet.test.hibernatetest.infrastructure.jpa.ClasspathScanningPersistenceUnitPostProcessor">
		<constructor-arg value="no.officenet.test"/>
	</bean>

	<bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.EclipseLinkJpaDialect"/>

	<!-- It is OK for this to override definition from ONP -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
		<property name="jpaDialect" ref="jpaDialect"/>
	</bean>

	<!-- Postprocessor to transform jpa-vendor exceptions to spring DataAccessExceptions  -->
	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

	<!-- bean post-processor for JPA annotations -->
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
</beans>